*{
    background-color: beige;
    font-family: "Comic Sans", cursive, sans-serif;
}

h1{
   color: black; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
}

li {
    float: left;
    background-color: blue;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: darkgray;
}

li a:hover {
    background-color: black;
}

.active{
    background-color: black;
}